*{
    box-sizing: border-box !important;
}
.bo-test-1{
    border:1px solid green;
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
 
  and (orientation: portrait) { /*Galaxy s5 */
 
    .blog-margin{
     
        font-size:25px !important;
        text-align:center !important;
        padding-top:20px !important;
    }
    .blog-small{
        font-size:16px !important;
        text-align:center !important;
    }
    .bar-showcase{
        min-height: 150px !important;
    }
    .bar-text{
      padding-top:-100px !important;
    }

}
@media screen and (device-aspect-ratio: 40/71) {       /*Iphone 5 */
    *{
        overflow-x:hidden !important;
       
    }
    .comments-1{
        display:grid !important;
        grid-template-columns: 50% 50% !important;
    }
    .comments-11{
        display:flex !important;
        justify-content: flex-start !important;
    }
   
    .input-section-4{
        min-width:100% !important;
    }
    .subscribe-btn{
        
        font-size:14px;
        padding:10px 25px 10px 25px !important;
        min-width:468px !important;
        margin-top:5px;
        box-shadow: none !important;
    }
    .s-btn-text{
        text-align:justify !important;
    }
    .nl-align-txt-2{
        font-size:28px !important;
        margin-bottom:50px !important;
    }
    .fa-tint .fa-tags .fa-users{
        font-size:28px !important;
    }
    .mt-small-screen{
        margin-top:30px ;
    }
    .blog-margin{
        padding-top:20px !important;
        font-size:25px !important;
        text-align:center;
    }
    .blog-small{
        font-size:12px !important;
        text-align:center;
    }
    .bar-showcase{
        min-height:180px !important;
    }
   
    .restruant{ 
        min-height:120px !important;
    }
    .tea{
        min-height:120px !important;
    }
    .whisky{
        min-height:120px !important;
    }
    .fa-star{
        font-size:14px !important;  
       
    }
    .star-review{
        display:grid !important;
        grid-template-columns:100% !important;
    }
    .ac{
        margin:0 !important;
    }
   
   
}
@media screen and (device-aspect-ratio: 375/667) {/*IPHONE 6 7 8 */
    *{
        overflow-x:hidden !important;
    }
    .comments-1{
        display:grid !important;
        grid-template-columns: 50% 50% !important;
    }
    .comments-11{
        display:flex !important;
        justify-content: flex-start !important;
    }
    .input-section-4{
        min-width:100% !important;
    }
    .subscribe-btn{
        
        font-size:14px;
        padding:10px 25px 10px 25px !important;
        min-width:468px !important;
        margin-top:5px;
        box-shadow: none !important;
    }
    .s-btn-text{
        text-align:justify !important;
    }
    .nl-align-txt-2{
        font-size:28px !important;
        margin-bottom:50px !important;
    }
    .fa-tint .fa-tags .fa-users{
        font-size:28px !important;
    }
    .mt-small-screen{
        margin-top:30px ;
    }
    .blog-margin{
        padding-top:20px !important;
        font-size:25px !important;
        text-align:center;
    }
    .blog-small{
        font-size:12px !important;
        text-align:center;
    }
    
    .restruant{ 
        min-height:120px !important;
    }
    .tea{
        min-height:120px !important;
    }
    .whisky{
        min-height:120px !important;
    }
    .fa-star{
        font-size:14px !important;  
       
    }
    .star-review{
        display:grid !important;
        grid-template-columns:100% !important;
    }
    .ac{
        margin:0 !important;
    }
   
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) { /*IPAD PRO*/
      
   .fa-star{
       margin-top:10px;
   }
   .popular-listing-text{
       margin-top:10px;
   }

}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /*IPAD */


*{
 box-sizing: border-box;
 overflow-x:hidden;
}
.fa-star{
    margin-top:10px;
}
.popular-listing-text{
    margin-top:10px;
}
.nl-align-txt-2{
    font-size:35px !important;
}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.77) and (orientation:portrait) {/*Google Pixel*/
    .blog-margin{
        padding-top:20px !important;
        font-size:35px !important;
        text-align:center;
    }
    .blog-small{
        font-size:12px !important;
        text-align:center;
    }
    .subscribe-btn{
        font-size:14px;
        padding:10px 25px 10px 25px !important;
        
        margin-top:5px;
        box-shadow: none !important;
    }
    .s-btn-text{
        text-align:justify !important;
    }
    .bar-showcase{
        min-height:200px !important;
    }
    .restruant{ 
        min-height:150px !important;
    }
    .tea{
        min-height:150px !important;
    }
    .whisky{
        min-height:150px !important;
    }
    .nl-align-txt-2{
        font-size:28px !important;
        margin-bottom:50px !important;
    }
    .fa-tint .fa-tags .fa-users{
        font-size:28px !important;
    }
}
.bo-test{
    border:5px solid black;
}
.logo-design{
    color:rgba(231,40,11);
}
.logo-text{
    font-size:30px ;

}
.nav-btn-design{
    background-color:rgba(231,40,11);
    color:white;
    border-radius:40px;
    padding:5px 35px 5px 35px;
    font-size:13px;
    font-weight:bold;
    margin-left:40px;
}
.nav-text-design{
    color:black;
}

.active{
    border-bottom:2px solid rgba(231,40,11);
}
.fa-sign{
    font-size:12px;
    opacity:0.9;
    padding-right:2px;
}
.fa-register{
    font-size:12px;
    opacity:0.9;
    padding-right:5px;
}
.nav-link:hover{
    color:black;
}
.addListing-hover{
    text-decoration:none !important;
    color:white;
}
.addListing-hover:hover > .nav-link{
    color:white !important;
}
.bar-showcase{
    background:url('../images-services/restruant1.jpg') no-repeat;
    background-size:100%;
    min-height: 244px;
    display:block;
    padding:0 !important;
    margin:0;
    background-position:top center;

}

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 244px;
}
.bar-text{
    color:white;
}
.blog-margin{
    padding-top:70px;
    color:whitesmoke;
}
.blog-small{
    font-size:12px;
    margin-top:20px;
    color:whitesmoke;
}

.section-2{
    margin-top:5%;
}
.section-2-text-1{
    font-size:20px;
    font-weight:normal;
}
.section-2-text-2{
    font-size:12px;
    opacity:0.8;
}
.restruant{
    background:url('../images-services/restruant1.jpg') no-repeat;
    background-size:100%;
    min-height: 290px;
    display:block;
    padding:0 !important;
    margin:0;
}
.tea{
    background:url('../images-services/tea.png') no-repeat;
    background-size:100%;
    min-height: 290px;
    display:block;
    padding:0 !important;
    margin:0;
}
.whisky{
    background:url('../images-services/whisky.jpeg') no-repeat;
    background-size:100%;
    min-height: 290px;
    display:block;
    padding:0 !important;
    margin:0;
}
.section-2-text-3{
    font-size:14px;
    color:black;
    text-align: justify;
    opacity:0.9;
}
.section-2-btn-1{
    background-color:red;
    color:white;
    padding:10px 20px 10px 20px;
    border:none;
}
.fa-chevron-right{
    font-size:12px;
}
.margin-hr{
    margin-top:50px;
    margin-bottom:50px;
}
.pg-btn{
    background-color:whitesmoke;
    color:black;
}
.active-pg-btn{
    background-color:red;
    color:white;
}
.section-4{
    background-color:whitesmoke;
    max-width:100%;
    min-height:400px;;
}
.section-4-inner{
    padding-top:100px;
}
.input-section-4{
    min-width:330px;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:whitesmoke;
}
.border-input{
    border:1px solid darkgray;
    opacity:0.6;
}
.subscribe-btn{
    background-color:red;
    color:white;
    border:none;
    font-size:14px;
    letter-spacing:1px;
    padding:0px 25px 0px 25px;
}
.nl-p{
    font-size:14px;
    opacity:0.7;
}
.fa-tint{
    color:red;
    font-size:40px;
}
.fa-tags{
    color:red;
    font-size:40px;
}
.fa-users{
    color:red;
    font-size:40px;
}

.nl-align-txt-1{
    font-weight:normal;
    font-size:16px;
}
.nl-align-txt-2{
    font-weight:bold;
    font-size:45px;
    color:red;
    letter-spacing:2px;
}
.last-section{
    background-color:rgb(31, 28, 28);
    min-height:550px;
    min-width:100%;
}
.last-section-inner{
    padding-top:70px;
}
.last-section-heading-border{
    border-bottom:2px solid whitesmoke;
    width:40px;
    opacity:0.6;
}
.about-us-text{
    color:white;
    text-align:justify;
    opacity:0.4;
    font-size:16px;
    line-height:20px;
    margin-top:10%;
    letter-spacing: 0.1px;
    word-spacing: 0.5px;
}
.fa-map-marker-alt{
    color:white;
    opacity:0.4;
    font-size:14px;
}
.fa-phone{
    color:white;
    opacity:0.4;
    font-size:14px;
}
.privact-policy-links{
    color:white;
    opacity:0.5;
    font-size:16px;
    
}
.privact-policy-links:hover{
    text-decoration:none;
    color:white;
    opacity:0.9;
}
.margin-pp{
    margin-top:10%;
}
.margin-pp-2{
    margin-top:20%;
}
.popular-listing-text{
    color:white;
    text-align:justify;
    opacity:0.5;
    font-size:16px;
}
.fa-star{
    color:orange;
    opacity:0.9;
    font-size:14px;
}
.popular-listing-text-2{
    font-size:14px;
    color:white;
    opacity:0.5;
    padding: 4px 0px 0px 4px;
}
.nl-bg-1{
    border-top:1px solid white;
    opacity:0.1;
    min-width:270px;
}
.nl-border{
    margin-top:100px;
    border-bottom:1px solid white;
    opacity:0.1;
}
.foo-btn{
    color:white;
    background-color:rgba(66, 65, 65,0.3);
    border-radius:50%;
    width:40px;
    height:40px;
}
.foo-btn:hover{
    color:white;
    background-color:black;
    border-radius:50%;
   
}
.bt-mg{
    padding:0px 10px 0px 10px;
}
.foo-text{
    color:white;
    opacity:0.9;
    font-weight:normal;
}
.border-recent-post{
    border-top:3px solid orangered;
    width:30px;
}
.recent-qs{
    font-size:16px;
    font-weight:normal;
    color:black;
}
.recent-qs:hover{
    text-decoration:none;
}
.recent-ans{
    font-weight:normal;
    color:gray;
    opacity:0.5;
    margin-top:10px;
    font-size:14px;
}
.qs-ans{
    padding-bottom:15px;
    padding-top:15px;
    border-bottom:1px solid rgba(211,211,211,0.3);
}
.qs-ans-btm{
    padding-bottom:15px;
    padding-top:15px;
    border-bottom:1px solid rgba(211,211,211,0.3);
    margin-bottom:30px;
}
.dropdown-right-links{
    color:black;
    text-align:justify;
    padding-left:30%;
}
.drop-item-design{
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid rgba(211,211,211,0.5);
    width:300px;
}
.tag-button{
    padding:5px 10px 5px 10px;
    background-color:red;
    color:white;
    border:none;
    margin:5px;
    border-radius:3px;
}
/*---------------------------------------------------Add Listing------------------------------------------------------------------------------*/
.bg-red{
    background-color:rgba(231,40,11);

}
.need-log-in{
    margin-top:-10px;
}
.ned-log-in-text{
    opacity:0.9;
    font-size:16px;
    font-weight:normal;
}
.login-btn{
    background-color:whitesmoke;
    color:rgba(231,40,11);
    padding:12px 45px 12px 45px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    letter-spacing:1px;
}
.basic-listing-left-text{
    color:rgba(0,0,0);
}
.label-font{
    font-size:14px;
}
.input-shadow{
    box-shadow:j;   
}
.check-box-text{
    font-size:14px;
}




/* Customize the label (the container) */
.container-1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:rgba(0,0,0,0.5);
  }
  /* Hide the browser's default checkbox */
  .container-1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  } 
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border:1px solid #ccc;
  }
  /* When the checkbox is checked, add a red background */
  .container-1 input:checked ~ .checkmark {
    background-color:red;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
  .container-1 input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .container-1 .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
 }
 .img-hw{
     max-height:300px;
     min-width:300px;
 }
.gallery-tea{
    background:url('../images-services/tea.png') no-repeat;
    background-size:cover;
    max-height: 150px;
    min-width:200px;

}
.gallery-tea-1{
    background:url('../images-services/tea.png') no-repeat;
    background-size:cover;
    max-height: 50px;
    min-width:100px;
}

.gallery-whisky{
    background:url('../images-services/whisky.jpeg') no-repeat;
    background-size:cover;
    max-height: 150px;
    min-width:200px;

}
.gallery-restruant{
    background:url('../images-services/restruant1.jpg') no-repeat;
    background-size:cover;
    max-height: 200px;
    max-width:300px;
    display:block;
    padding:0 !important;
    margin:0; 
}
.drag-drop{
    background-color:#ccc;
    opacity:0.5;
    border:3px dashed darkgray;
}
::placeholder{ 
   
    font-size:12px;
    color:rgba(211,211,211) !important;
}
.twt{
    font-size:12px;
    color: #0084b4;
}
.fa-twitter-square{
    color: #0084b4;
    font-size:12px;
}
.fb{
    color:#3b5998;
    font-size:12px;
}
.fa-facebook-square{
    color:#3b5998;
    font-size:12px;
}
.yt{
    color:#cc181e;
    font-size:12px;
}
.fa-youtube-square{
    color:#cc181e;
    font-size:12px;
}
.twitter-input{
  border:none !important;
}
.border-so{
    margin-bottom:15px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.fa-minus-circle{
    color:rgba(66, 65, 65,0.9);
    font-size:12px;
}
.fa-plus-circle{
    color:rgba(66, 65, 65,0.9);
    font-size:12px;
}
.new-sec{
    font-size:12px;
    font-weight:normal;
    font-style: italic; 
}
.open-hours-4{
    font-size:12px;
    color: rgba(0,0,0,0.6);
    font-weight:normal;
}
.am{
    font-weight: normal;
    background-color:rgba(211,211,211,0.5);
    color:rgba(0, 0, 0, 0.6);
}
.to{
    font-size:12px;
}
.time{
    color:rgba(231,40,11);
    font-weight:normal;
    font-size:12px;
    font-family: Helvetica;
}
.accor-title{
    font-size:12px;
    color:black;
    font-weight:normal;
}
.accor-heading-bg{
    background-color:whitesmoke;
}
.accor-link:hover{
    text-decoration:none;
}
.accor-border{
    border:1px solid #ccc;
}
.usd-bd{
    border:none !important;
    font-size:12px;
    font-weight:normal;
    background-color:white;
    margin-right:5px;
    margin-left:5px;
    color:rgba(0, 0, 0, 0.6);
}
.input-bd-usd{
    border:1px solid lightgray;
    border-radius:3px;
}
.btn-addlist{
    border-radius:40px;
    background-color:rgba(231,40,11);
    font-size:12px;
    color:white;
    padding:10px 40px 10px 40px;
    margin-top:70px;
    margin-bottom:100px;
}
/*-----------12 Services---------------*/
.margin-service-area{
    margin-top:100px;
    margin-bottom:100px;
}
.text-p{
    font-size:14px;
    color:rgb(121, 115, 115);
    line-height:25px;
}
.services-padding{
    padding:50px 25px 50px 25px;
    border:1px solid rgba(204,204,204, 0.4);
}
.services-col:hover{
   border:1px solid rgba(231,40,11);
}

#parent1,#parent2,#parent3,#parent4,#parent5,#parent6{
    cursor: pointer;
}
#parent4:hover .parent-ht-4,#parent1:hover .parent-ht-1,#parent2:hover .parent-ht-2,#parent3:hover .parent-ht-3,#parent5:hover .parent-ht-5,#parent6:hover .parent-ht-6{
    color:rgba(231,40,11);
}
